<template name="footer">
<div class="footer">
    <div id="footer-section" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
            Tell your friends and followers:
        </div>
        <div id="share-footer">
            <a id="social" class="btn-social-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://getdrizzle.com" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>

            <a id="social" href="https://twitter.com/share?text=Grow traffic. Maximize conversions.%20@get_drizzle&url=https://getdrizzle.com" class="btn-social-icon twitter" data-related="get_drizzle" data-count="none" target="blank">
                <i class="fa fa-twitter"></i>
            </a>

            <a id="social" class="btn-social-icon linkedin" href="//www.linkedin.com/shareArticle?mini=true&url=https://getdrizzle.com&amp;summary=Grow traffic. Maximize conversions." target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div id="footer-items">
           <div id="footer-item">Made with <i class="fa fa-heart" aria-hidden="true"></i> in Los Angeles.</div>
           <div id="footer-item">We are <a href="https://drizzle.workable.com/jobs/313316" target="_blank">hiring</a>.</div>
           <div id="footer-item">Read <a href="https://medium.com/@getdrizzle" target="_blank">blog</a>.</div>
           <div id="footer-item">Read <a href="/terms">terms</a>.</div>
           <div id="footer-item">Copyright © 2016 - Drizzle (owned by Zen Market, Inc.)</div>
        </div>
    </div>
  </div>
</template>
