<template name="adblocking">

    <div class="row" id="blue-section" style="background: linear-gradient( 45deg, #002f4a, #00a3ff ); color: white; padding: 7% 5% 4% 5%">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-l-0">
        <div id="section1" class="margin-l-20">
            <h1 class="margin-t-0 text-center">
                Detect any Adblock on any browser.
            </h1>
            <h1 class="margin-t-0 text-center">
                Recover up to 50% of lost ad revenue.
            </h1>
        <div class="strapline">
        <div class="flexslider">
                  <ul class="slides" style="padding-left: 0px">
                    <li>
                        Built for any Website
                    </li>
                    <li>
                        Built for any Content
                    </li>
                    <li>
                        Built for any Browser
                    </li>
                    <li>
                        Built for any Device
                    </li>
                  </ul>
                </div>
        </div>

        <div class="text-center margin-20">
            <a href="https://getdrizzle.typeform.com/to/Wl2p5r" class="btn btn-signup" data-action="signup" style="background-color: #ed4e1b; font-size: 22px; margin: 15px 10px" target="_blank">Contact us</a>
            <a href="http://laopinion.com/2017/01/19/extraditan-a-estados-unidos-al-chapo-guzman/" class="btn btn-signup" data-action="signup" style="font-size: 22px; margin: 15px 10px" target="_blank">Live example</a>
        </div>
    </div>
    </div>


    </div>


    <div class="row margin-10">
        <div>
            <div name="benefits"></div>

            <div class="row">
                    <h1 class="text-center fw700" style="color:#0088D3">Why Drizzle?</h1>
            </div> <!-- end .row -->
                <p class="text-center" style="margin: 20px 0px !important">
                    Drizzle is a robust solution to recover ad revenue in the most user-friendly way.
                </p>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline">
                <h3 class="text-center">Highest conversions</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Engage visitors by <b>partially</b> showing content. Exchange hidden content for turned off Adblock.
                    </p>
                <hr width="10%">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b">
                <h3 class="text-center">Great SEO and UX</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Look trustworthy to your visitors with a popup-free solution. Google Search lowers the rank for websites with popups.
                    </p>
                <hr width="10%">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b">
                <h3 class="text-center">Your brand</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Custom copywriting and style, so your brand stays intact and the detector feels like an organic part of your website.
                    </p>
                <hr width="10%">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b">
                <h3 class="text-center">Detailed analytics</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Track when visitors use Adblock and turn it off to access content. See analytics on browser, device and Adblock type.
                    </p>
                <hr width="10%">
                </div>
            </div>
        </div>

    </div> <!-- end .row -->

    <div class="row" style="background-color: #f9f9f9">
        <div class="row">
            <h1 class="text-center fw700" style="color:#0088D3">What Our Clients Say</h1>
        </div> <!-- end .row -->

        <div style="padding: 20px; text-align: center">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="https://fantasyteamadvice.com/" target="_blank" data-toggle="tooltip" title="'Drizzle has everything we are looking for in a paywall and more.'">
                    <div id="fta">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Sports</p>
                <h3 class="text-center fw600">FTA</h3>
                <hr width="10%">
                    <p class="fs13" style="opacity: 0.8">"Drizzle helps us reach new subscribers and generate leads which increases revenue on site."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://www.math-aids.com/" target="_blank">
                    <div id="mathaids">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Education</p>
                <h3 class="text-center fw600">Math-Aids.com</h3>
                <hr width="10%">
                    <p class="fs13" style="opacity: 0.8">"Drizzle is great solution for detecting users that are blocking the ads on my site. Great customer support."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="https://coachesonly.breakingmuscle.com/" target="_blank">
                    <div id="bm">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Fitness and Health</p>
                <h3 class="text-center fw600">Breaking Muscle</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Drizzle gives us all tools we need to monetize our content. We were waiting for something like this!"</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://laopinion.com/" target="_blank">
                    <div id="laopinion">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Local Newspapers</p>
                <h3 class="text-center fw600">La Opinión</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Drizzle has helped us recover revenue from hundreds of thousands of pageviews that were being blocked by pesky ad blockers each week."</p>
                <hr width="10%">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://eldiariony.com/" target="_blank">
                    <div id="eldiario">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Local Newspapers</p>
                <h3 class="text-center fw600">EL DIARIO</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"I love how the Drizzle team really understands our business needs and replies promptly to help us meet our goals."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline-b">
                <a href="https://www.productfrom.com/" target="_blank">
                    <div id="productfrom">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Directories</p>
                <h3 class="text-center fw600">ProductFrom</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Thanks to Drizzle we know how many visitors use AdBlock and ask them to turn it off at the right moment."</p>
                <hr width="10%">
            </div>
        </div>
    </div> <!-- end .row -->

    <h2 class="text-center margin-5per">User-friendly way to exchange your content for turned off Adblock.</h2>

    <h1 style="display: none !important">Anti adblock. Adblock detection. Detect Adblock. Adblock killer. Anti ad blocker. Ad blocker blocker. Disable ad blocker. Anti ad block.</h1>

    <script>
      $('.flexslider').flexslider({
        animation: 'fade',
        controlNav: false,
        directionNav: false,
        slideshowSpeed: 1800,
        animationSpeed: 0}
        );
    </script>

</template>
