<template name="userFeatures">
    <div class="row" style="background: linear-gradient( 45deg, #002f4a, #00a3ff ); color: white; padding: 6% 5% 20px 5%">
        <h1 class="fw600 text-center">Access the best content on the Web with just one click.</h1>

    </div>

<div style="background-color: #f9f9f9">
    <div class="row">
        <div id="section-feature">
            <div id="value22" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline">
            </div> <!-- end .col-xs-12 -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline margin-t-20">
                <h2>Pay as you go</h2>
                <hr width="10%">
                <p class="lh17">Not a fan of subscriptions? If you are a casual reader, no problem, pay just 0.25 or so for the content you want.</p>
            </div> <!-- end .col-xs-12 -->

            <div id="value33" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b" style="background-size: 30% !important">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b margin-t-20">
                <h2>Subscribe</h2>
                <hr width="10%">
                <p class="lh17">Heavy reader? Subscribe to monthly or weekly plan, or buy daily pass. Unsubscribe with just one click.</p>
            </div> <!-- end .col-xs-12 -->

        </div>
    </div> <!-- end .row -->

    <div class="row">
        <div id="section-feature">


            <div id="value44" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline margin-t-20">
                <h2>Save hours of time</h2>
                <hr width="10%">
                <p class="lh17">No more headache of managing dozens of accounts. Use your Drizzle account to pay on all websites within Drizzle network.</p>
            </div> <!-- end .col-xs-12 -->

            <div id="value11" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inline-b margin-t-20">
                <h2>Join</h2>
                <hr width="10%">
                <p class="lh17">Be a part of the revolution. Online ads are evil and pay peanuts, support content creators directly.</p>
            </div> <!-- end .col-xs-12 -->
        </div>
    </div> <!-- end .row -->

</div>

    <h2 class="text-center margin-5per">Reward premium publishers and content creators for great content</h2>
</template>
