<template name="websiteOwners">

    <div class="row" id="blue-section" style="background: linear-gradient( 45deg, #002f4a, #00a3ff ); color: white; padding: 7% 5% 4% 5%">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-l-0">
        <div id="section1" class="margin-l-20">
            <h1 class="margin-t-0 text-center">
                Paywall and membership for online content
            </h1>
        <div class="strapline">
        <div class="flexslider">
                  <ul class="slides" style="padding-left: 0px">
                    <li>
                        Built for any Website
                    </li>
                    <li>
                        Built for any Content
                    </li>
                    <li>
                        Built for any Browser
                    </li>
                    <li>
                        Built for any Device
                    </li>
                  </ul>
                </div>
        </div>

        <div class="text-center margin-20">
            <a href="https://getdrizzle.typeform.com/to/Wl2p5r" class="btn btn-signup" data-action="signup" style="background-color: #ed4e1b; font-size: 22px; margin: 15px 10px" target="_blank">Contact us</a>
            <a href="https://coachesonly.breakingmuscle.com/athlete-development/the-10-types-of-coaches-and-how-to-spot-them" class="btn btn-signup" data-action="signup" style="font-size: 22px; margin: 15px 10px" target="_blank">Live example</a>
        </div>


        <div class="row margin-20 text-center">
            <h1>
                Drizzle works with any web stack
            </h1>
        </div> <!-- end .row -->

    </div>
    </div>


    </div>


    <div class="row margin-10">
        <div>
            <div name="benefits"></div>

            <div class="row">
                    <h1 class="text-center fw700" style="color:#0088D3">Why Drizzle?</h1>
            </div> <!-- end .row -->
                <p class="text-center">
                    Drizzle is your white label solution to sell premium content in the most user-friendly way.
                </p>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 inline">
                <div id="value3">
                </div>
                <h3 class="text-center">Sell directly</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Use Drizzle's paywall to exchange your online content for signups, single payments or paid subscriptions.
                    </p>
                <hr width="10%">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 inline">
                <div id="value2">
                </div>
                <h3 class="text-center">Engage users</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Easily identify your best performing content. Track users, email and engage them at all stages of your sales funnel.
                    </p>
                <hr width="10%">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 inline-b">
                <div id="value33">
                </div>
                <h3 class="text-center">Increase sales</h3>
                <hr width="10%">
                <div class="text-center">
                    <p>
                        Set up a simple free trial and referral program, offer time-sensitive discounts to get more paying users.
                    </p>
                <hr width="10%">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center margin-t-20">
            <h1>Watch how Drizzle generates revenue for your website</h1>
            <iframe id="video" src="https://player.vimeo.com/video/182750960?api=1" width="100%" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <div id="videoOverlay">
                <i class="fa fa-play-circle" aria-hidden="true" id="playVideo"></i>
            </div>
        </div>
    </div> <!-- end .row -->

    <div class="row" style="background-color: #f9f9f9">
        <div class="row">
            <h1 class="text-center fw700" style="color:#0088D3">What Our Clients Say</h1>
        </div> <!-- end .row -->

        <div style="padding: 20px; text-align: center">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="https://fantasyteamadvice.com/" target="_blank" data-toggle="tooltip" title="'Drizzle has everything we are looking for in a paywall and more.'">
                    <div id="fta">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Sports</p>
                <h3 class="text-center fw600">FTA</h3>
                <hr width="10%">
                    <p class="fs13" style="opacity: 0.8">"Drizzle helps us reach new subscribers and generate leads which increases revenue on site."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://www.math-aids.com/" target="_blank">
                    <div id="mathaids">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Education</p>
                <h3 class="text-center fw600">Math-Aids.com</h3>
                <hr width="10%">
                    <p class="fs13" style="opacity: 0.8">"Drizzle is great solution for detecting users that are blocking the ads on my site. Great customer support."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="https://coachesonly.breakingmuscle.com/" target="_blank">
                    <div id="bm">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Fitness and Health</p>
                <h3 class="text-center fw600">Breaking Muscle</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Drizzle gives us all tools we need to monetize our content. We were waiting for something like this!"</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://laopinion.com/" target="_blank">
                    <div id="laopinion">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Local Newspapers</p>
                <h3 class="text-center fw600">La Opinión</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Drizzle has helped us recover revenue from hundreds of thousands of pageviews that were being blocked by pesky ad blockers each week."</p>
                <hr width="10%">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline">
                <a href="http://eldiariony.com/" target="_blank">
                    <div id="eldiario">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Local Newspapers</p>
                <h3 class="text-center fw600">EL DIARIO</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"I love how the Drizzle team really understands our business needs and replies promptly to help us meet our goals."</p>
                <hr width="10%">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 inline-b">
                <a href="https://www.productfrom.com/" target="_blank">
                    <div id="productfrom">
                    </div> <!-- end .col-xs-12 -->
                </a>
                <p class="text-center">Directories</p>
                <h3 class="text-center fw600">ProductFrom</h3>
                <hr width="10%">
                <p class="fs13" style="opacity: 0.7">"Thanks to Drizzle we know how many visitors use AdBlock and ask them to turn it off at the right moment."</p>
                <hr width="10%">
            </div>
        </div>
    </div> <!-- end .row -->

    <div name="how-it-works"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="section3">

                <div class="row">
                    <h1 class="text-center fw700" style="color:#0088D3">Case Studies</h1>
                </div> <!-- end .row -->

                <p class="text-center">
                    With Drizzle, you can sell ANY type of content: text, videos, images, podcasts, links and digital downloads.
                </p>
                <p class="margin-b-20 text-center">
                    Check out examples below.
                </p>

            <div class="text-center" style="margin-top: 40px">
                <div class="text-center margin-5 inline">
                    <a target="_blank" href="https://fantasyteamadvice.com/daily-nba-cheatsheet/" class="btn btn-signup">Fantasy Sports</a>
                </div>

                <div class="text-center margin-5 inline-b">
                    <a target="_blank" href="https://coachesonly.breakingmuscle.com/athlete-development/the-10-types-of-coaches-and-how-to-spot-them" class="btn btn-signup">Fitness</a>
                </div>

                <div class="text-center margin-5 inline-b">
                    <a target="_blank" href="http://femaleentrepreneurs.institute/the-top-10-venture-backed-female-founders/" class="btn btn-signup">Blog post</a>
                </div>

                <div class="text-center margin-5 inline-b">
                    <a target="_blank" href="http://www.math-aids.com/Word_Games/" class="btn btn-signup">Educational material</a>
                </div>


                <div class="text-center margin-5 inline-b">
                    <a target="_blank" href="http://laopinion.com/2017/01/19/extraditan-a-estados-unidos-al-chapo-guzman/" class="btn btn-signup">News</a>
                </div>

            </div>


            </div>
        </div>
    </div>

    <div name="features"></div>

     <div class="row" style="background-color: #f9f9f9">
        <h1 class="text-center fw700" style="color:#0088D3">Features</h1>
    </div> <!-- end .row -->

    <div class="row" style="background-color: #f9f9f9">
        <div id="section-feature">
            <div id="value3" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline-b margin-t-20">
                <h3>Sell any content</h3>
                <hr align="left">
                <p class="lh17">
                    Easy to integrate with any web stack. Drizzle has the highest conversions in the industry. Get 2X-5X more paying users than competitor paywalls. Offer any type of subscription or payment.
                </p>
            </div> <!-- end .col-xs-12 -->

        </div>
    </div> <!-- end .row -->

    <div class="row">
        <div id="section-feature">
            <div id="value2" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline-b margin-t-20">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline">
                <h3>Engage users</h3>
                <hr align="left">
                <p class="lh17">
                    Simple analytics tracks the performance of individual pages: number of views, clicks, signups, users on trial, users who made a single payment or subscribed. Identifying the best performing content has never been easier. Email an individual user or a group of users based on their engagement stage.
                </p>
            </div> <!-- end .col-xs-12 -->
        </div>
    </div> <!-- end .row -->

    <div class="row" style="background-color: #f9f9f9">
        <div id="section-feature">
            <div id="value33" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline">
            </div> <!-- end .col-xs-12 -->

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 inline-b margin-t-20">
                <h3>Increase sales</h3>
                <hr align="left">
                <p class="lh17">
                    Enjoy tools used by best in the industry, such as Hulu and Netflix, and proven to increase your number of paying customers. Set up a powerful free trial program for your subscribers. Reward users for referring their friends. Generate and email time-sensitive discounts. Upsell popular, trending, newest and similar content.
                </p>
            </div> <!-- end .col-xs-12 -->
        </div>
    </div> <!-- end .row -->


    <div class="row padding-b-10">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="ts-cox">
                </div> <!-- end .col-xs-12 -->

                <h3 class="text-center margin-b-20">Current Investors: Techstars and COX Enterprises</h3>
            </div>

    </div> <!-- end .row -->

    <h2 class="text-center margin-5per">Make paying for content as seamless as possible on your website.</h2>

    <h1 style="display: none !important">Paywall solutions. Paywall software. Paywall solution. Paywall providers. Website paywall. Paywall plugin. Paywall service. Online paywall. New paywall. Video paywall. Paywall strategy.</h1>

    <h1 style="display: none !important">Anti adblock. Adblock detection. Detect Adblock. Adblock killer. Anti ad blocker. Ad blocker blocker. Disable ad blocker. Anti ad block.</h1>

    <script>
      $('.flexslider').flexslider({
        animation: 'fade',
        controlNav: false,
        directionNav: false,
        slideshowSpeed: 1800,
        animationSpeed: 0}
        );
    </script>

</template>
